# Backend - OneSignal Configuration
ONESIGNAL_APP_ID="id"
ONESIGNAL_REST_API_KEY= "api_key_aqui"

# Database Configuration (MongoDB)
MONGODB_URL= "mongodb://localhost:27017"
MONGODB_DB= "beassistant"

# JWT Secret
SECRET_KEY= "tu_secret_key_para_jwt"
