<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- Development permissions -->
    <uses-permission android:name="android.permission.INTERNET"/>

    <!-- Ensure BLE permissions are present in debug build as well so the merged manifest
         includes them and permission_handler can detect them at runtime. -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" android:usesPermissionFlags="neverForLocation" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADVERTISE" />

</manifest>
